@font-face {
    font-family: 'Jujutsu Kaisen.ttf';
    font-style: normal;
    font-weight: normal;
    src: url('../font/JujutsuKaisen.woff') format('woff');
}

body{
    font: 18px/36px 'Jujutsu Kaisen.ttf', 'Arial Narrow';
    background-color: rgb(220, 221, 221);
}

h1{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 2px 2px 2px rgb(73, 65, 65, .3);
}

.container{
    width: 1000px;
    background-color: white;
    box-shadow: 0 0 3px 5px rgba(99, 99, 99, 0.3) ;
    margin: 70px auto;
    border-radius: 10px;
}

.container ul li{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* overflow: hidden; */
    float: left;
    margin: 22px;
    border: 3px solid black;
    position: relative;
    
}

img{
    border-radius: 50%;
}
.container span{
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: block;
    width: 200px;
    height: 200px;
    background-color: rgb(202, 202, 202, .5);
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s;
    text-shadow: 0 2px 2px white;
}

.container li a:hover span{
    transform: rotate(360deg);
    opacity: 1;
}

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(63, 63, 63, 0);
    z-index: 99;
    transition: .8s;
    text-align: center;
    padding: 50px 0;
}

.overlay:target{
    width: auto;
    height: auto;
    right: 0;
    left: 0;
    background-color: rgb(63, 63, 63, 0.8);
}

.full {
    border-radius: 10%;
    max-height: 100%;
    box-shadow: 0 0 10px 10px rgba(114, 114, 114, 0.8);
}

.close img{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 440px;
    border: 2px white solid;
    opacity: 0;
}

.overlay:target .full{
    animation: animasiFadeIn 1s;
}

.overlay:target .close img{
    animation: animasiFadeClose .5s 1s forwards;
}
.clear{
    clear: both;
}

.footer{
    background-color: black;
    border-radius: 10px 10px 0 0;
    height: 50px;
    width: 1000px;
    margin: 0 auto;
}

.link{
    text-decoration: none;
    color: white;
}

.footer p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.next img,
.prev img {
    width: 80px;
    height: 80px;
    position: absolute;
    opacity: 0;
}

.overlay:target .next img{
    animation: animasiFadeClose .5s 1s forwards;
}

.overlay:target .prev img{
    animation: animasiFadeClose .5s 1s forwards;
}

.next img{
    top: 50%;
    right: 20%;
}

.prev img{
    top: 50%;
    left: 20%
}

@keyframes animasiFadeIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: (1);
        opacity: 1;
    }
}

@keyframes animasiFadeClose {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
