@font-face {
    font-family: 'Jujutsu Kaisen.ttf';
    font-style: normal;
    font-weight: normal;
    src: url('../font/JujutsuKaisen.woff') format('woff');
}

body{
    font: 18px/36px 'Jujutsu Kaisen.ttf', 'Arial Narrow';
    background-color: rgb(220, 221, 221);
}

h1{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 2px 2px 2px rgb(73, 65, 65, .3);
}

.container{
    width: 1000px;
    background-color: white;
    box-shadow: 0 0 3px 5px rgba(99, 99, 99, 0.3) ;
    margin: 70px auto;
    border-radius: 10px;
}

.container ul li{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* overflow: hidden; */
    float: left;
    margin: 22px;
    border: 3px solid black;
    position: relative;
    
}

.container img{
    border-radius: 50%;
}
.container span{
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: block;
    width: 200px;
    height: 200px;
    background-color: rgb(202, 202, 202, .5);
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s;
    text-shadow: 0 2px 2px white;
}

.container li a:hover span{
    transform: rotate(360deg);
    opacity: 1;
}

.clear{
    clear: both;
}
